# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtualenv
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Python env
.env
.env.sandbox
.env.production
*.env.local

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
/tmp/

# Docker
pgdata/
